@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-block {
    @apply relative;
    @apply rounded;
    @apply border-2;
    @apply border-black;
    @apply bg-white;
    @apply z-10;
  }
  .shadow-block::before {
    content: " ";
    @apply absolute;
    inset: -2px;
    @apply rounded;
    @apply border-black;
    /* box-shadow: -1px 1px 0 black, -2px 2px 0 black, -3px 3px 0 black,
      -4px 4px 0 black; */
    box-shadow: -2px 4px 0 black;
    @apply z-0;
  }
}

@font-face {
  font-family: "Computer Modern";
  src: url("/computer-modern/cmunrm.ttf") format("truetype");
}

@font-face {
  font-family: "Computer Modern";
  src: url("/computer-modern/cmunci.ttf") format("truetype");
  font-style: italic;
}
